// Styles for cards of all-sites page
// - blatantly stolen from timhurely.net SCSS (by Tim), then mildly modded..
.sortableList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    flex: 0 0 23%;
    border-radius: $radius;
    background: #fff;
    border: 1px solid $borderGrey;
    margin: 0 1% 4ex;
    text-align: left;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    vertical-align: top;
    img,
    svg {
      border-top-left-radius: $radius - 1;
      border-top-right-radius: $radius  - 1;
      min-height: 155px;
      background: #fff;
      margin-bottom: 10px !important;
    }
    h2,
    h3 {
      font-weight: 300;
      margin: 10px 20px;
      color: black;
      transition: color 0.2s;
      margin-bottom: 0.8em;
    }
    p {
      font-size: 16px;
      margin: 10px 20px;
      color: black;
      opacity: 0.6;
      transition: all 0.2s;
      padding-bottom: 2em;
    }
    &.disabled {
      cursor: not-allowed;
    }
    i {
      transition: 0.4s all;
      position: absolute;
      right: 7px;
      bottom: 0;
      color: $secondary;
      opacity: 0.1;
      font-size: 1.2em;
    }
  }
  a.card {
    &:hover,
    &:focus {
      @include card(2);
      background-color: lighten($secondary, 68%);
      border-color: $highlight;
      h2,
      h3 {
        color: $secondary;
      }
      i {
        opacity: 0.65;
      }
    }
    &:active,
    &:focus {
      @include card(3);
      // box-shadow: 0 6px 12px rgba($highlightDark, 0.23), 0 10px 40px rgba($highlightDark, 0.19);
      outline: none;
    }
  }
}

#clients {
  .card {
    img {
      opacity: 1; // to force override
    }
  }
}
