// Create an animated background gradient on an angle
@mixin background-gradient($colour1,$colour2,$colour3) {
  background-color: $colour1;
  background: linear-gradient(
    11deg, $colour1, $colour2, $colour3 );
  background-size: 400% 400%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


// Globally used body font declaration
@mixin body-font() {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin blurBG() {
  $blurAmount: 10px;
  -webkit-backdrop-filter: blur($blurAmount);
  backdrop-filter: blur($blurAmount);
}


// Card shadows
// From https://css-tricks.com/snippets/sass/material-shadows-mixin/
// Don't even think about adding this to something without first reading "Component elevation comparisons":
// https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}
