// TEMP MOCKUP STYLES
$brighterBlue:      #2C5D7E;
body.changes {
  .logos .coa-stacked,
  .logos img {
    // background: radial-gradient(rgba(0,0,0,.1),rgba(0,0,0,0) 50%);
  }
  #services {
    padding: 0;
  }
  #top-and-first-wrapper,
  .alternating.bg-primary,
  .icons-grid.bg-primary {
    // One of these:
    // background: linear-gradient(11deg,#5FD7C9, #5EBBC7, #337bab);  // nice version of the existing colours (roughly)
    background: linear-gradient(11deg, #24d4dc, #4a6f9d);          // different colour scheme, but nice

    // None of these:
    // background: linear-gradient(11deg, #66a1e4, #22b8bf);          // w3
    // background: linear-gradient(11deg,#53c598,#337bab);            // a bit shit
    // background: linear-gradient(11deg,#52CD91,#33A6FA);            // a little bit shit
    // background: linear-gradient(11deg, #00E676,#0091EA);           // too bright
    // background: linear-gradient(11deg, #B3FFAB,#12FFF7);           // bit much!
    // background: linear-gradient(11deg, #EAECC6, #2BC0E4);          // beachy
  }
  #clients .highlight, #clients h2 {
    color: #fff;
  }
  .call-to-action {
    background: linear-gradient(11deg,$brighterBlue,#3979a4);
    // background: linear-gradient(11deg,#3979a4, #33A6FA);
  }
  #top-and-first-wrapper {
    // @include background-gradient($highlight, $brighterBlue, lighten($brighterBlue, 15%));
    a,
    .coa-titles {
      // color: #fff !important;
    }
    .coa-coa .crest {
      // background-image: url(../img/crest-white.svg);
    }
  }
  &.homepage {
    .lead {
      font-size: 30px;
      padding-top: 0.8em;
    }
  }
  #clients.icons-grid {
    margin-bottom: 0 !important;
    .row img {
      // lazy temp way to invert the svgs to white (like they are on prod)
      opacity: .9;
      filter: invert(100%);
    }
  }
  #knowledge-base {
    .container {
      margin-bottom: 50px;
    }
    .label.status {
      background-color: $highlightBright;
      // background-color: #52CD91;
      color: $textGrey;
      font-weight: 600;
    }
    a.media {
      display: block;
      padding-bottom: 10px;
      border-radius: $radius;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: $greyLight;
        .title {
          text-decoration: underline;
        }
      }
      .title {
        margin-top: 15px;
      }
      .status {

      }
      .summary {
        display: block;
        margin-top: 5px;
        color: $textGrey;
      }
    }
    .no-results:not(:empty),
    .search-for {
      margin-top: 3em;
    }
  }
  .bg-primary .btn-light,
  header .btn.btn-light {
    color: #fff;
    border-color: #fff;
  }
  // .btn-primary {
  //   color: #fff;
  //   background-color: #52CD91;
  // }
  // .btn-default {
  //   color: #00C853;
  //   border-color: #00C853;
  // }
  // footer ul.social a {
  //   color: #039BE5;
  //   &:active, &:focus, &:hover {
  //     color: #52CD91;
  //   }
  // }
  #services .row .row,
  .text-primary {
    color: $textGreyLight;
  }
  #services h2 {
    color: #2C5D7E;
  }
  .navbar-form {
    .input-group-addon {
      padding-bottom: 2.9em;
    }
    .icon-search {
      position: relative;
      top: -0.2em;
    }
  }
}
