// TEMP MOCKUP STYLES

// vars
$brighterBlue:      #2C5D7E;
$brighterBlueFaded: #3979a4;
$bubbleGum:         #24d4dc;


body.changes {
  //.logos .coa-stacked,
  //.logos img {
  //  background: radial-gradient(rgba(0,0,0,.1),rgba(0,0,0,0) 50%);
  //}
  #services {
    padding: 0;
  }
  #top-and-first-wrapper,
  .alternating.bg-primary,
  .icons-grid.bg-primary {
    // One of these:
    // background: linear-gradient(11deg,#5FD7C9, #5EBBC7, #337bab);  // nice version of the existing colours (roughly)
    background: linear-gradient(11deg, $bubbleGum, #4a6f9d);          // different colour scheme, but nice assuming we update the logo to drop the green
  }
  #clients .highlight,
  #clients h2 {
    color: #fff;
  }
  .call-to-action {
    background: linear-gradient(11deg,$brighterBlue,$brighterBlueFaded);
  }
  // for large homepage header with big centered logo
  &.homepage {
    .lead {
      font-size: 30px;
      padding-top: 0.8em;
    }
  }
  #clients.icons-grid {
    margin-bottom: 0 !important;
    .row img {
      opacity: .9;
      filter: invert(100%); // lazy temp way to invert the svgs to white (like they are on prod)
    }
  }
  #knowledge-base {
    .container {
      margin-bottom: 50px;
    }
    .label.status {
      background-color: $highlightBright;
      color: $textGrey;
      font-weight: 600;
      // color: $secondary;
      // background-color: $bubbleGum;
    }
    a.media {
      display: block;
      padding-bottom: 10px;
      border-radius: $radius;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: $greyLight;
        .title {
          text-decoration: underline;
        }
        i {
          color: $secondary;
        }
      }
      .title {
        margin-top: 15px;
      }
      .summary {
        display: block;
        margin-top: 5px;
        color: $textGrey;
      }
    }
    .no-results:not(:empty){
      margin-top: 3em;
    }
  }
  .bg-primary .btn-light,
  header .btn.btn-light {
    color: #fff;
    border-color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: $bubbleGum;
      border-color: $bubbleGum;
      background-color: $secondary;
    }
  }
  // START - only for new colour scheme
  .btn-primary {
    color: $secondary;
    border-color: $secondary;
    background-color: $bubbleGum;
    &:active,
    &:focus,
    &:hover {
      color: $bubbleGum;
      border-color: $bubbleGum;
      background-color: $secondary;
    }
  }
  .btn-default {
    color: $secondary;
    border-color: $secondary;
  }
  footer ul.social a {
    &:active, &:focus, &:hover {
      color: $bubbleGum;
    }
  }
  // END - only for new colour scheme

  #services .row .row,
  .text-primary {
    color: $textGreyLight;
  }
  #services h2 {
    color: #2C5D7E;
  }
  .navbar-form {
    .input-group-addon {
      padding-bottom: 2.9em;
    }
    .icon-search {
      position: relative;
      top: -0.2em;
    }
  }
  .search-for {
    margin-top: 3em !important;
    font-weight: 400;
  }
}
