
$highlight:         #71C39E;
$highlightDarker:   #54A283;

$darkBlue:          #37424A;
$brighterBlue:      #2C5D7E;

$lightGrey:         #F5F5F5;
$darkGrey:          #333;
$borderGrey:        #D2D2D4;


$greyText:          #555;
$lightGreyText:     #777;
